@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: NovecentoMed;
    src: url('Novecentowide-Medium.otf');
    font-weight: normal;
}

@font-face {
    font-family: NovecentoNormal;
    src: url('Novecentowide-Normal.otf');
    font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*:: selection { background: #eee; }
*:: -moz-selection { background: #eee; }

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	cursor: default;
}

#introTitle {
	width: 204px;
	height: 80px;
	margin: auto;
	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
	display: none;
}

#introTitle p {
	font-family: NovecentoMed;
	font-size: 14pt;
	letter-spacing: 1.5pt;
	cursor: default;
}

#introTitle p span {
	color: #939597;
}

#introTitle .enter {
	font-family: NovecentoNormal;
	font-size: 8pt;
	letter-spacing: 1pt;
	color: #c4c4c4;
	margin-top: 20px;
	opacity: 0;
}

#introTitle .enter.show {
	opacity: 1;
	margin-top: 30px;
	-webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    transition: all 600ms ease;
}

#introTitle .enter: hover {
	color: #666666;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

#siteContainer {
	width: 100%;
	height: 100%;
	max-height: 875px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	display: none;
}

#screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	z-index: 112;
	display: none;
}

#top {
	width: 100%;
	height: 20%;
	min-height: 70px;
	display: table;
	-webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    transition: all 700ms ease;
	margin: 0 auto;
	vertical-align: middle;
  font-family: NovecentoMed;
  letter-spacing: 1.4pt;
  font-size: 12pt;
}

#top p {
	width: 177px;
	margin: 24px auto 16px auto;
	cursor: default;
  display: table-cell;
  vertical-align: middle;
}

#top p span {
	color: #939597;
}

#middle {
	width: 100%;
	max-width: 1150px;
	height: 60%;
	display: table;
	position: relative;
	margin: 0 auto;
	-webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    transition: all 700ms ease;
}

#middleContainer {
	width: 100%;
	min-height: 600px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

#cursorControls {
	display: none;
}

#homeslides {
	width: 100%;
	height: auto;
	margin: 0 auto;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

#homeslides img {
	width: 100%;
}

div.category {
	display: none;
}

.slidecontrols {
	display: none;
}

.captions {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #a7a9ab;
	text-align: left;
	width: 100px;
	margin-left: 30px;
	float: left;
}

.captions span.italic {
	font-style: italic;
}

.custom-caption {
	height: 60px;
}

.albumtitle {
	margin-top: 20px;
}

.PrevNext {
	height: 15px;
	margin-top: 45px;
}

.nextButton {
	float: left;
	color: black;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.prevButton {
	float: left;
	color: black;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.nextButton: hover, .prevButton: hover {
	opacity: 0.9;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

p.instructions {
	font-size: 9px;
	margin-top: 35px;
	opacity: 0.6;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

p.instructions: hover {
	opacity: 1;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

div.allSlides {
	width: 100%;
	height: auto;
	margin: 0 auto;
	-webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    transition: all 900ms ease;
}

div.allSlides img {
	width: 100%;
}

#bottom {
	width: 100%;
	height: 20%;
	min-height: 40px;
	display: table;
	position: relative;
	z-index: 110;
	-webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    transition: all 700ms ease;
}

#bottom div {
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}

#bottom div p {
	width: 42px;
	height: 20px;
	margin: 0 auto;
	color: #666;
	font-family: NovecentoMed;
	font-size: 12px;
	letter-spacing: 2.4px;
	letter-spacing: 1pt;
	padding-bottom: 4px;
	border-bottom: 1px solid #666666;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

#bottom div p: hover {
	opacity: 0.7;
    -webkit-transition: all 1100ms ease;
    -moz-transition: all 1100ms ease;
    -o-transition: all 1100ms ease;
    -ms-transition: all 1100ms ease;
    transition: all 1100ms ease;
	cursor: pointer;
}

#menu {
	width: 100%;
	height: 300px;
	background: #F1F1F2;
	position: fixed;
	bottom: 0px;
	z-index: 115;
	display: none;
}

#menucontainer {
	width: 90%;
	max-width: none;
	height: auto;
	margin: 0 auto;
	margin-top: 44px;
	cursor: pointer;
}
#menucontainer .section {
  clear: both;
}

#menu p {
	height: 43px;
	font-family: NovecentoNormal;
	color: #A7A9AB;
	font-size: 8pt;
	width: 34%;
	margin-left: 14%;
	text-align: left;
	float: left;
	letter-spacing: 1.5pt;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

#menu p: hover {
	color: #4f4f4f;
    -webkit-transition: all 1100ms ease;
    -moz-transition: all 1100ms ease;
    -o-transition: all 1100ms ease;
    -ms-transition: all 1100ms ease;
    transition: all 1100ms ease;
	cursor: pointer;
}

#menu p.desktop {
	display: none;
}

#menu p.mobile {
	height: 25px;
	display: block;
}

#menu p.selected {
	color: #4f4f4f;
}

#menu p.mobile.divider {
	width: 70%;
	height: 1px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	bottom: 100px;
	left: 3%;
}

.splash-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  bottom: 0;
  right: 0;
	background: #ccc;
	z-index: 110;
  display: none;
}

#contactBox {
	width: 300px;
	height: 86px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.splash-container.bio p.infoText {
	text-align: left;
}

p.infoText {
	width: 80%;
	height: auto;
	margin: 0 auto;
	color: white;
	font-family: NovecentoMed;
	font-size : 12px;
 	line-height : 28px;
    letter-spacing : 2.4px;
	text-align: center;
	margin-top: 80px;
}

div#contactBox p.infoText {
	margin-top: 0;
}

p.infoText a {
	color: white;
	text-decoration: none;
	-webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    transition: all 600ms ease;
}

p.infoText a: hover {
	opacity: 0.5;
	-webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    transition: all 600ms ease;
}

.close-toggle {
	width: 100%;
	height: 61px;
	color: #666;
	background: #ccc;
	font-family: NovecentoMed;
	font-size: 10px;
	letter-spacing: 2.4px;
	cursor: pointer;
	text-align: center;
	position: fixed;
	top: 0;
	line-height: 7;
	margin: auto;
	left: 0;
	right: 0;
	-webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    transition: all 600ms ease;
	border-bottom: 1px solid #c5c5c5;
}

.close-toggle span {
	-webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    transition: all 700ms ease;
}

.close-toggle span: hover {
	opacity: 0.7;
	-webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    transition: all 700ms ease;
}

/*Menu*/
@media (min-width: 400px) {
	#cursorControls {
  	display: block;
  	width: 100%;
  	height: 90%;
  	min-height: 290px;
  	position: absolute;
  	left: 0;
  	z-index: 109;
  }

  #left {
  	width: 50%;
  	height: 100%;
  	float: left;
  	cursor: url('cursorPrev.png'), auto;
  }

  #right {
  	width: 50%;
  	height: 100%;
  	float: left;
  	cursor: url('cursorNext.png'), auto;
  }
}

/*Menu*/
@media (min-width: 550px) {
  #top {
  	width: 100%;
  	height: 13%;
  	min-height: 70px;
  	display: table;
  }

  #middle {
  	width: 100%;
  	max-width: 1150px;
  	height: 74%;
  	display: table;
  	position: relative;
  	margin: 0 auto;
  }

  #bottom {
  	width: 100%;
  	height: 12%;
  	min-height: 40px;
  	display: table;
  	position: relative;
  	z-index: 110;
  }


  #menu {
  	width: 100%;
  	height: 290px;
  	background: #f1f1f2;
  	position: fixed;
  	bottom: 0px;
  	z-index: 115;
  	display: none;
  }

  #menucontainer {
  	width: 630px;
  	height: 133px;
  	max-width: none;
  	margin: 0 auto;
  	margin-top: 66px;
  	padding-left: 12.5%;
  }

  #menu p {
  	width: 20%;
  	height: 33px;
  	float: left;
  	margin-left: 0;
  	color: #a7a9ab;
  	font-family: NovecentoNormal;
  	font-size: 8pt;
  	letter-spacing: 1.5pt;
  	text-align: left;
  	-webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      transition: all 500ms ease;
  }

  #menu p.header {
  	font-size: 8px;
  	color: #4f4f4f;
  	cursor: default;
  }

  #menu p.lCol {
  	text-align: right;
    width: 15%;
    margin-right: 8%;
  }

  #menu p.bRow {
  	margin-top: 22px;
  }

  #menu p.desktop {
  	display: block;
  }

  #menu p.mobile {
  	display: none;
  }

}

/*Bio Page*/
@media (min-width: 640px) {
  .splash-container {
  	min-height: 533px;
  }

  .splash-container.bio p {
  	width: 540px;
  	height: 400px;
  	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	color: white;
  	font-family: NovecentoMed;
  	font-size: 12px;
  	line-height: 28px;
  	letter-spacing: 2.4px;
  	text-align: left;
  }


  .close-toggle {
  	width: 50px;
  	height: 20px;
  	color: #666;
  	font-family: NovecentoMed;
  	font-size: 10px;
      letter-spacing: 2.4px;
  	cursor: pointer;
  	text-align: center;
  	position: absolute;
  	bottom: 100px;
  	top: auto;
  	margin: auto;
  	left: 0;
  	right: 0;
  	line-height: 0;
  	background: none;
  	border-bottom: 1px solid #666;
  }

  .splash-container.bio .close-toggle: hover {
  	opacity: 0.7;
  }

  .splash-container.bio .close-toggle span: hover {
  	opacity: 1;
  }

  /*Slides*/
  .slidecontrols {
  	width: 145px;
  	position: absolute;
  	left: 0;
  	top: 4%;
  	z-index: 110;
  	display: block;
  }

  #homeslides {
  	width: 640px;
  	height: 463px;
  	margin: 0 auto;
  	-webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      transition: all 500ms ease;
  }

  div.allSlides {
  	width: 640px;
  	height: 463px;
  	margin: 0 auto;
  	-webkit-transition: all 900ms ease;
      -moz-transition: all 900ms ease;
      -o-transition: all 900ms ease;
      -ms-transition: all 900ms ease;
      transition: all 900ms ease;
  }
}


/*iPad (portrait)*/
@media (min-height: 1000px) and (min-width: 760px) {
  .slidecontrols {
  	width: 145px;
  	position: absolute;
  	left: 0;
  	top: 14%;
  	z-index: 110;
  }
}

/*Desktop (medium)*/
@media (min-height: 750px) and (min-width: 900px) {

  #cursorControls {
  	width: 100%;
  	height: 575px;
  	position: absolute;
  	left: 0;
  	z-index: 109;
  }

  #homeslides {
  	width: 795px;
  	height: 575px;
  	margin: 0 auto;
  	-webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      transition: all 500ms ease;
  }

  div.allSlides {
  	width: 795px;
  	height: 575px;
  	margin: 0 auto;
  	-webkit-transition: all 900ms ease;
      -moz-transition: all 900ms ease;
      -o-transition: all 900ms ease;
      -ms-transition: all 900ms ease;
      transition: all 900ms ease;
  }
}
